.venv
__pycache__
.langgraph_api
.env
src/react_agent_engine.egg-info
*-venv/
data/knowledge_base/
old/

# Models
*.onnx
*.pt
yolov12/

.deepeval/
data/plantwild/evaluation/images/*
!data/plantwild/evaluation/images/.gitkeep
.vscode/
agent.egg-info/
data/corpus
data/evaluation_cache
.fastembed_cache
qdrant_storage/*
!qdrant_storage/.gitkeep
